<header class="header">
  <div class="title">
    <p class="header-title">Inventario equipos de cómputo</p>
  </div>
  <div class="navigation">
    <ul class="navigation-items">
      
      {% if request.user.role == "admin" %}
      <li>
        <a href="{% url 'users_app:lista-user' %}">Usuarios</a>
      </li>
      {% endif %}
        
      <li>
        <a href="{% url 'inventario_app:add-inventario' %}">Agregar</a>
      </li>
      <li>
          <a href="{% url 'inventario_app:lista-inventario' %}">Inventario</a>
      </li>
      <li>
        <form action="{% url 'users_app:user-logout' %}" method="post"> {% csrf_token %}
          <button type="submit" class="boton-sec">Cerrar sesión</button>
        </form>
        
      </li>
    </ul>
  </div>
</header>
<div class="franja"></div>